<?xml version="1.0" encoding="UTF-8"?> 
<configuration status="debug"> 
    <Appenders>
        <!-- 콘솔 출력 방식 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p  %c{1}.%M (%F:%L) - %m%n" />
        </Console>
    
        <!-- 파일 저장 방식 -->
        <File name="memberJoinFile" fileName="C:\Users\dlgks\gaeasoft\ojtpj\git_gaea\PrjBoard_git\logs\joinLogFile.log">
            <PatternLayout pattern="%d %-5p %c{1}.%M (%F:%L) - %m%n"/>
        </File>
        
        <File name="quartzFile" fileName="C:\Users\dlgks\gaeasoft\ojtpj\git_gaea\PrjBoard_git\logs\quartzLogFile.log">
            <PatternLayout pattern="%d %-5p %c{1}.%M (%F:%L) - %m%n"/>
        </File>
        
        <File name="transactionFile" fileName="C:/Users/dlgks/gaeasoft/ojtpj/git_gaea/PrjBoard_git/logs/transactionLogFile.log">
            <PatternLayout pattern="%d %-5p %c{1}.%M (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    
    <Loggers>
        <Logger name="com.gaea.work.member.MemberController" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="memberJoinFile"/> 
        </Logger>
        
        <Logger name="com.gaea.work.quartz" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="quartzFile"/> 
        </Logger>
        
        <Logger name="com.gaea.work.aspect.TransactionLoggingAspect" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="transactionFile"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers> 
</configuration>
